# Interface Gráfica e Espectrograma em Tempo Real
PyQt6
pyqtgraph

# Processamento de Sinal e Áudio (DSP)
numpy
scipy
sounddevice

# Antena RTL-SDR
pyrtlsdr==0.4.0
pyrtlsdrlib==0.0.4

# Transcrição (Speech-to-Text)
openai-whisper
torch

# Análise Estatística, Dados e Dashboards
pandas
matplotlib
seaborn